doctype html
html
    head
        meta(name="viewport", content="width=device-width", initial-scale=1.0)
        title angular-mobile-nav Demo
        link(rel='stylesheet', href='angular-mobile-nav.min.css')
        link(rel='stylesheet', href='angular-mobile-nav-demo.css')


    body(ng-app="angular-mobile-nav-demo")
        div(ng-view)

        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js")
        script(src="angular-mobile-nav.min.js")
        script(src="app.js")