$nav-width: 17em;
$transition-speed: 500ms;
$media-break-tablet: 768px;

@mixin translate-x($x, $is-important:null) {
    transform: translateX($x) $is-important;
    -webkit-transform: translateX($x) $is-important;
    -moz-transform: translateX($x) $is-important;
    -ms-transform: translateX($x) $is-important;
    -o-transform: translateX($x) $is-important;
}

@mixin transition-transform($duration) {
    transition: transform $duration;
    -webkit-transition: -webkit-transform $duration;
    -moz-transition: -moz-transform $duration;
    -o-transition: -o-transform $duration;
}

.de-nav {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
    width: $nav-width;
    z-index: 1000;
    @include translate-x($nav-width);
    @include transition-transform($transition-speed);
}

.de-nav.show {
    @include translate-x(0);
}

.de-content {
    @include translate-x(0);
    @include transition-transform($transition-speed);
}

.de-content.nav-open {
    @include translate-x(-$nav-width);
}

// Hide mobile nav if screen size is increased
@media (min-width: $media-break-tablet) {
    .de-nav.show {
        @include translate-x($nav-width, !important);
    }
    .de-content.nav-open {
        @include translate-x(0, !important);
    }
}